# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\dermo\Drive\Trinity College Dublin\Senior Freshman\Hilary Semester\CSU22012 Algorithms and Data Structures II\Assignments\Assignment 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
